@charset "utf-8";
@import url('fonts.css');

/*
FONTS DISPONIVEIS

*/
*{margin:0;padding:0;text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input{margin:0 auto;padding:0;list-style:none;outline:none;border:none;}
.top5{margin-top:5px;}
.top7{margin-top:7px;}
.top8{margin-top:8px;}
.top10{margin-top:10px !important;}
.top15{margin-top:15px !important;}
.top20{margin-top:20px !important;}
.top25{margin-top:25px !important;}
.top30{margin-top:30px !important;}
.top35{margin-top:35px !important;}
.top40{margin-top:40px !important;}
.top45{margin-top:45px !important;}
.top50{margin-top:50px !important;}
.top55{margin-top:55px !important;}
.top60{margin-top:60px !important;}
.top65{margin-top:65px !important;}
.top70{margin-top:70px !important;}
.top75{margin-top:75px !important;}
.top80{margin-top:80px !important;}
.top85{margin-top:85px !important;}
.top90{margin-top:90px !important;}
.top100{margin-top:100px !important;}
.top105{margin-top:105px !important;}
.top115{margin-top:115px !important;}
.top120{margin-top:120px !important;}
.top125{margin-top:125px !important;}
.top130{margin-top:130px !important;}
.top135{margin-top:135px !important;}
.top145{margin-top:145px !important;}
.top150{margin-top:150px !important;}
.top160{margin-top:160px !important;}
.top170{margin-top:170px !important;}
.top180{margin-top:180px !important;}
.top200{margin-top:200px !important;}
.top220{margin-top:220px !important;}
.top265{margin-top:265px !important;}
.top195{margin-top:195px !important;}
.top205{margin-top:205px !important;}
.top210{margin-top:210px !important;}
.top235{margin-top:235px !important;}
.top255{margin-top:255px !important;}
.top285{margin-top:285px !important;}
.top290{margin-top:290px !important;}
.top350{margin-top:350px !important;}
.top380{margin-top:380px !important;}
.top395{margin-top:395px !important;}
.top450{margin-top:450px !important;}


.bottom5{margin-bottom:5px !important;}
.bottom10{margin-bottom:10px !important;}
.bottom15{margin-bottom:15px !important;}
.bottom20{margin-bottom:20px !important;}
.bottom25{margin-bottom:25px !important;}
.bottom30{margin-bottom:30px !important;}
.bottom35{margin-bottom:35px !important;}
.bottom40{margin-bottom:40px !important;}
.bottom45{margin-bottom:45px !important;}
.bottom50{margin-bottom:50px !important;}
.bottom55{margin-bottom:55px !important;}
.bottom60{margin-bottom:60px !important;}
.bottom60{margin-bottom:60px !important;}
.bottom65{margin-bottom:65px !important;}
.bottom70{margin-bottom:70px !important;}
.bottom75{margin-bottom:75px !important;}
.bottom80{margin-bottom:80px !important;}
.bottom90{margin-bottom:90px !important;}
.bottom100{margin-bottom:100px !important;}
.bottom120{margin-bottom:120px !important;}
.bottom130{margin-bottom:130px !important;}
.bottom135{margin-bottom:135px !important;}
.bottom140{margin-bottom:140px !important;}
.bottom150{margin-bottom:150px !important;}

.bottom180{margin-bottom:180px !important;}
.bottom200{margin-bottom:200px !important;}
.bottom220{margin-bottom:220px !important;}
.bottom280{margin-bottom:280px !important;}


.left5{margin-left:5px;}
.left10{margin-left:10px;}
.left15{margin-left:15px;}
.left20{margin-left:20px;}
.left25{margin-left:25px;}
.left30{margin-left:30px;}
.left35{margin-left:35px;}
.left40{margin-left:40px;}
.left45{margin-left:45px;}
.left50{margin-left:50px;}
.left55{margin-left:55px;}
.left60{margin-left:60px;}
.left65{margin-left:65px;}
.left70{margin-left:70px;}
.left75{margin-left:75px;}
.left80{margin-left:80px;}
.left81{margin-left:81px;}
.left130{margin-left:130px;}
.left270{margin-left:270px;}
.right5{margin-right:5px;}
.right10{margin-right:10px;}
.right15{margin-right:15px;}
.right20{margin-right:20px;}
.right22{margin-right:22px;}
.right25{margin-right:25px;}
.right30{margin-right:30px;}
.right35{margin-right:35px;}
.right40{margin-right:40px;}
.right45{margin-right:45px;}
.right50{margin-right:50px;}
.right55{margin-right:55px;}
.right60{margin-right:60px;}
.right65{margin-right:65px;}
.right70{margin-right:70px;}
.right75{margin-right:75px;}
.right80{margin-right:80px;}
.right90{margin-right:90px;}
.right100{margin-right:100px;}
.right130{margin-right:130px;}

.pt0{padding-top:0px;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt45{padding-top:45px;}
.pt50{padding-top:50px;}
.pt60{padding-top:60px;}
.pt80{padding-top:80px;}
.pt100{padding-top:100px;}
.pt130{padding-top:130px;}
.pt300{padding-top:300px;}



.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl25{padding-left:25px;}
.pl30{padding-left:30px;}
.pl40{padding-left:40px;}
.pl45{padding-left:45px;}
.pl50{padding-left:50px;}
.pl60{padding-left:60px;}
.pl80{padding-left:80px;}
.pl100{padding-left:100px;}
.pl300{padding-left:300px;}


.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr40{padding-right:40px;}
.pr45{padding-right:45px;}
.pr50{padding-right:50px;}
.pr60{padding-right:60px;}
.pr80{padding-right:80px;}
.pr100{padding-right:100px;}
.pr300{padding-right:300px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px;}
.pb30{padding-bottom:30px;}
.pb40{padding-bottom:40px;}
.pb50{padding-bottom:50px;}
.pb60{padding-bottom:60px;}
.pb80{padding-bottom:80px;}
.pb100{padding-bottom:100px;}
.pb200{padding-bottom:200px;}
.pb280{padding-bottom:280px;}
.pb300{padding-bottom:300px;}


/* ============= OFFSET COLUNAS ============= */
.col-offset-1{margin-left: 8.33%;}
.col-offset-2{margin-left: 16.66%;}
.col-offset-3{margin-left: 25%;}
.col-offset-4{margin-left: 33.33%;}
.col-offset-5{margin-left: 41.66%;}
.col-offset-6{margin-left: 50%;}
.col-offset-7{margin-left: 58.33%;}
.col-offset-8{margin-left: 66.66%;}
.col-offset-9{margin-left: 75%;}
.col-offset-10{margin-left: 83.33%;}
.col-offset-11{margin-left: 91.66%;}
.col-offset-12{margin-left: 100%;}

.pr0{padding-right:0;}
.pr5{padding-right:5px;}
.pl0{padding-left:0;}
.pl5{padding-left:5px;}
.pg5{padding: 10px;}
.pg10{padding: 10px;}
.pg20{padding: 20px;}

.container{min-width:1170px !important;}

body{
	font-family: 'Open Sans', sans-serif;font-weight: 400;color: #414140;}

	@mixin clearfix() {&::after {display: block;content: "";clear: both;}}
	.element {@include clearfix;}

	h1{
		color: #414140;
		font-size: 1.31rem /* 21/16 */;
		font-weight: 700;
	}



	h1 span {
		font-size: 1.88rem /* 30/16 */;
	}

	h2 {
		color: #414140;
		font-size: 1rem /* 16/16 */;
		font-weight: 700;
	}

	h2 span{
		font-size: 2.25rem /* 36/16 */;
		color: #414140;
	}


	h3{
		font-weight: 700;
		font-size: 3.38rem /* 54/16 */;
		text-shadow: 2px 1px 2px rgba(0, 0, 0, 1);
		color: #fff;
	}

	h3 span{
		color: #414140;
		font-size: 2.25rem /* 36/16 */;
		text-shadow: none;
	}

	h4 {
		font-size: 1rem /* 16/16 */;
		color: #388e3c;
		font-weight: 700;
	}

	h4 span{
		color: #393939;
		font-size: .88rem /* 14/16 */;
	}

	h5 {
		color: #414140;
		font-size: 1.13rem /* 18/16 */;
		font-weight: 700;
	}

	h5 span{
		color: #fefefe;
	}

	h6{

	}

	h6 span{
		/*font-size: 2.31rem ;
		font-family:"Lato Black";*/

	}


	p{
		font-size: 23px;
		color: #000;
		text-align:justify;
		font-weight: 300;
	}



	.ui-datepicker table {
		font-size: .94rem /* 15/16 */!important;
	}

	.media {
		align-items: center;
	}

	.icon_form .fa{
		position: absolute;
		left: 22px;
		top: 16px;
	}

	.scrol_empresa{
		overflow-y:  auto;
		height: 251px;
	}

	.jspVerticalBar {
		width: 8px !important;
	}

	.has-error .checkbox,
	.has-error .checkbox-inline,
	.has-error .control-label,
	.has-error .help-block,
	.has-error .radio,
	.has-error .radio-inline,
	.has-error.checkbox label,
	.has-error.checkbox-inline label,
	.has-error.radio label,
	.has-error.radio-inline label {
		color: #a94442;
	}

	.class-404 h1{
		font-size: 40px;
		color: #000;
	}

	.has-error .form-control {
		border-color: #a94442;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	}

	.has-error .form-control-feedback {
		color: #a94442;
	}

	.has-success .form-control-feedback {
		color: #3c763d;
	}
	.topo-site {
		position: absolute;
		top: 0px;
		z-index: 100;
		width: 100%;
	}

	.btn{
		border-radius: 0;
	}

	a:hover{
		text-decoration: none;
	}


	.relativo{
		position: relative;
	}

	input,
	select,
	textarea{
		min-height: 35px;
		color:#000;
		border-radius: 0 !important;
		font-size: 20px;
		font-weight: 400;
	}


	::-webkit-input-placeholder {
		color      : #000;
		font-family: 'Lato', sans-serif;
		font-family: 400;
		font-size  : 13px;
	}

	:-moz-placeholder {
		color      : #000;
		font-family: 'Lato', sans-serif;
		font-family: 400;
		font-size  : 13px;
	}

	::-moz-placeholder {
		color      : #000;
		font-family: 'Lato', sans-serif;
		font-family: 400;
		font-size  : 13px;
	}

	:-ms-input-placeholder {
		color      : #000;
		font-family: 'Lato', sans-serif;
		font-family: 400;
		font-size  : 13px;
	}

	.padding0{
		padding: 0px !important;
	}

	.lato{font-family: 'Lato', sans-serif;}


	.dicas_hover {
		left: 15px;
		z-index: 9;
		background: url(../imgs/bg_transparente_home.png);
		width: 328px;
		height: 238px;
		position: absolute;
		top: 15px;
		opacity: 0;
		padding-top: 80px;
	}
	/**
	============================================
	TOPO
	============================================
	*/

	.bg_topo{
		background: url(../imgs/bg_topo.png)top center no-repeat;
		height: 6.88rem /* 110/16 */;
	}


	.avaliacao_topo a:hover{
		opacity: .8;
	}

	.menu .navbar-nav{
		flex-direction: inherit;
	}

	.menu .navbar-nav > li > a{
		margin: 10px 15px 0 0;
		padding: 3px 2px;
		font-size: 15px;
		color: #388e3c;
		border-radius: 0;
		font-weight: 700;
	}

	/*.menu .navbar-nav > li > a:last-child{
	margin-left: 0 ;
	}*/

	.menu .navbar-nav > li > a .fa{
		padding: 3px 14px;
	}


	.menu .nav>li>a:hover,
	.menu .nav>li>a:focus,
	.menu .nav li a.active {
		border-radius: 5px;
		-webkit-transition: color 0.3s;
		-moz-transition: color 0.3s;
		transition: color 0.3s;
		color: #414140;
		border-bottom: 2px solid #414140;
		border-radius: 0;
		-webkit-transition:200ms ease;
		-moz-transition:200ms ease;
		-o-transition:200ms ease;
		transition:200ms ease;
	}


	.topo-meu-orcamento{
	width:470px !important;
	margin-left: -202px;
	padding:15px;
	}


	.lista-itens-carrinho{
		margin: 10px 0px;
		overflow: hidden;
		border-bottom: 2px solid #e5e5e5;
		margin-bottom: 20px;
	}


	.lista-itens-carrinho h1{
		font-size: 14px !important;
		margin: inherit;
		color: #252525;
	}

	.btn_orcamento{
		color: #fff;
		background: #378b3b;
	}

	.btn_orcamento:hover{
		color: #fff;
		background: #1e662d;
	}

	.bootstrap-select>.dropdown-toggle,
	.bootstrap-select>.dropdown-toggle:hover,
	.bootstrap-select>.dropdown-toggle.active,
	.bootstrap-select>.dropdown-toggle:focus {
		height: 45px;
		border: 1px solid #c8c8c8;
		border-radius: 0px;
		font-weight: 700;
		color: #000;
		font-size: 15px;
		background: none;
		width: 198px !important;
	}

	.bootstrap-select .dropdown-toggle:focus {
		outline: thin dotted #c8c8c8!important;
		outline: 1px auto -webkit-focus-ring-color!important;
		outline-offset: -2px;
	}

	/**
	============================================
	TOPO
	============================================
	*/
	/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
	/* ------------------------------- BANNER  ------------------------------- */
	/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
	#container_banner {
		width   :100%;
		height  :648px;
		margin  :0px auto;
		overflow:hidden;
		position: relative;
		margin-top: 0px;
		z-index: 1;
	}

	#content_slider {
		width      :1920px;
		position   :absolute;
		margin-left:-960px;
		top        :0px;
		left       :50%;
	}


	#content-slider-1 .rsContent{
		height: 100px;
		position: absolute;
		z-index: 1000;
		top: 100px;
	}

	#content-slider-1 .rsContent h1{
		font-size: 40px;
		color: #fff;
		font-family:"Lato Black";
		text-shadow: 2px 1px 2px rgba(0, 0, 0, 1);
	}

	#content-slider-1 .rsTabs {
		width: 162px;
		height: 30px;
		z-index: 9999;
		position: absolute;
		left: 469px;
		top: 465px;
		text-shadow: -4px -3px 2px rgba(0, 0, 0, 0.76);
	}

	#content-slider-1 .rsNavItem {
		background   : #fff;
		width        :20px;/*setas*/
		opacity      : 0.4;
		height       : 20px;/*setas*/
		float        : left;
		margin-right : 10px;
		cursor       : pointer;
		border-radius: 50%;
		box-shadow: -2px 2px rgba(0,0,0,0.6);
		-moz-box-shadow: -2px 2px rgba(0,0,0,0.6);
		-webkit-box-shadow: -2px 2px rgba(0,0,0,0.6);
		-o-box-shadow: -2px 2px rgba(0,0,0,0.6);
	}

	#content-slider-1 .rsNavSelected {
		opacity  : 1;
		background: #fff;
		box-shadow: -2px 2px rgba(0,0,0,0.6);
		-moz-box-shadow: -2px 2px rgba(0,0,0,0.6);
		-webkit-box-shadow: -2px 2px rgba(0,0,0,0.6);
		-o-box-shadow: -2px 2px rgba(0,0,0,0.6);
	}


	/*arrow personalizados*/
	#container_banner .rsArrowLeft {
		display: block;
		width: 0;
		height: 0;
		background: url(../imgs/arrow_left.png) center no-repeat;
		z-index: 999;
		bottom:244px;
		position: absolute;
		left: 410px;
	}

	#container_banner .rsArrowRight {
		display: block;
		width:0;
		height:0;
		background: url(../imgs/arrow_right.png) center no-repeat;
		z-index: 999;
		bottom:244px;
		position: absolute;
		right: 1244px;
	}
	/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
	/* ------------------------------- BANNER  ---------------------------- */
	/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
	/**/


	/*==================================================
	* COLOBOX PERSONALIZADO GROUPO4
	* ===============================================*/
	#cboxContent {background: none !important;}
	#cboxMiddleLeft,#cboxMiddleRight,#cboxTopCenter,#cboxBottomLeft,#cboxTopLeft,#cboxTopRight,#cboxBottomCenter,#cboxBottomRight {width: 0 !important;background: none !important;}
	#cboxSlideshow {color: #fff !important;}
	#cboxPrevious{left: 28px!important;}
	#cboxNext{left: 56px!important;}
	#cboxCurrent{left: 90px !important;}
	#cboxClose{right: 28px !important;}
	#cboxSlideshow{right: 60px !important;}
	/*==================================================
	* COLOBOX PERSONALIZADO GROUPO4
	* ===============================================*/



	/**
	============================================
	rodape
	============================================
	*/
	.scrollup{width:65px;height:65px;position:fixed;bottom:250px;left:30px;display:none;text-indent:-9999px;background:url(../imgs/seta_up03.png) no-repeat;z-index:9999;opacity: .4;}

	.rodape{
		background : url(../imgs/bg_rodape.png)top center no-repeat;
		height: 100%;

		/* position: absolute;
		border: 1px solid #a6a6a6;
		width: 100%;
		right: 50%;
		overflow:hidden;
		margin-right: -50%;
		top: 30px; */


	}

	.rodape-preto{
		background :#000;
	}

	.redes a {
		color: #454545;
		font-size: 13px;
	}

	.redes a:hover{
		color: #444343;
	}

	.menu_rodape .nav-link,.categorias_rodape .nav-link{
		color: #fff;
		font-weight: 400;
		padding: 16px 0;
		font-size: 18px;
	}

	.menu_rodape .nav-link:hover,
	.menu_rodape .nav-link.active ,
	.categorias_rodape .nav-link:hover{
		color: #0e714b;
	}
	.endereco_rodape p,.endereco_rodape .media .fa{
		font-weight: 700;
		font-size: 14px;
		color: #414140;
	}

	.endereco_rodape h2{
		font-weight: 700;
		color: #414140;
		font-size: .88rem /* 14/16 */;
	}

	.endereco_rodape .align-self-center{
		height: 43px;
		overflow: hidden;
	}

	.rodape-preto h5{
		font-size:1.13rem /* 18/16 */;
		color: #fff;
		font-weight: 400;
	}

	/**
	============================================
	rodape
	============================================
	*/

	/**
	============================================
	HOME
	============================================
	*/


	.btn_detalhes_produtos{
		background: #378b3b;
		color: #fefefe;
		font-size: .88rem /* 14/16 */;
		font-weight: 700;
		padding: 10px 19px;
	}

	.btn_detalhes_produtos:hover,.btn_detalhes_servicos:hover{
		background: #0e714b;
		color: #fff;
	}


	.produto_dentro .btn_produtos_orcamento{
		font-size: 1.13rem /* 18/16 */;
		padding: 15px 30px;
	}

	.btn_detalhes_servicos{
		background: none;
		border: 2px solid #0e714b;
		color: #0e714b;
		font-size: 1rem /* 16/16 */;
		font-weight: 700;
		padding: 10px 19px
	}


	.btn_detalhes_servicos_geral{
		background: #0e714b;
		border: 2px solid #0e714b;
		color: #fff;
		font-size: 1rem /* 16/16 */;
		font-weight: 700;
	}


	.btn_detalhes_servicos_geral:hover{
		background: none;
		border: 2px solid #0e714b;
		color: #0e714b;
	}


	.btn_detalhes_produtos_todos{
		background: #378b3b;
		color: #fefefe;
		font-size: 1rem /* 16/16 */;
		font-weight: 700;
		padding: 10px 40px;
	}

	.btn_detalhes_produtos_todos:hover{
		background: #0e714b;
		color: #fff;
	}

	.btn_produtos_orcamento {
		background: #1a7753;
		color: #fff;
		font-size: .88rem /* 14/16 */;
		font-weight: 700;
		padding: 10px 19px;

	}

	.btn_produtos_orcamento:hover{
		background: #055e40;
		color: #fff;
	}

	.produtos .card{
		border: 0;
	}

	.produtos .card-body{
		background: #f6f5f5;
	}

	.produtos a .imagem{
		-webkit-box-shadow: 3px 3px 25px 6px rgba(0,0,0,0.11);
		-moz-box-shadow: 3px 3px 25px 6px rgba(0,0,0,0.11);
		box-shadow: 3px 3px 25px 6px rgba(0,0,0,0.11);
		z-index: 999;
	}

	.produtos a .imagem:hover{
		opacity: .9;
	}

	.line_text_prod{
		height: 50px;
		overflow: hidden;
	}

	.line_cat{
		height: 45px;
		overflow: hidden;
	}

	.barra_site_paginas {
		width: 717px;
		height: 57px;
		position: absolute;
		margin-left: -960px;
		overflow: hidden;
		z-index: 9;
		top: 8px;
		left: 50%;
		background: #0e714b;
		z-index: -1;
	}


	.barra_site_paginas h3{
		font-size: 1.25rem /* 20/16 */;
		font-weight: 700;
		color: #fff;
		text-align: right;
		margin-top: 7px;
		margin-right: 18px;
		text-shadow: none;
	}


	.position_cat{
		position: absolute;
		top: 32.13rem /* 514/16 */;
		width: 100%;
		z-index: 99;
	}



	.lista_categorias .flexslider {
		margin: 0 0 0px;
		background: url(../imgs/bg_transparente.png) ;
		border:0;
	}



	.lista_categorias .flex-direction-nav a {
		margin: 26px 51px 0;
		width: 25px;
		height: 50px;
		top: 29%;
	}

	.lista_categorias #slider1 .slides li a span{
		width: 100px !important;
	}

	.lista_categorias #slider1 .slides li a {
		font-size: 14px;
		color: #fefefe;
		/*border: 4px solid #f78436;*/
		border-left: 0;
		margin-top: 9px;
	}



	.lista_categorias #slider1 .slides img {
		width: 8.13rem /* 130/16 */;
		height: 90px;
		display: block;
	}

	.todas_cat{
		margin-top: 40px !important;
		color: #fff !important;
	}



	.lista_categorias #slider1 .slides li.active a,.lista_categorias #slider1 .slides li a:hover{
		color: #003305;
	}

	.barra_cat{
		position: absolute;
		background: #378b3b;
		height: 4.06rem /* 65/16 */;
		bottom: 0;
		width: 100%;
	}

	.bg_servicos_home{
		background: url(../imgs/bg_servicos_home.png)no-repeat top 9.38rem /* 150/16 */ center;
		width: 100%;
		width: 100%;
		right: 50%;
		overflow:hidden;
		margin-right: -50%;

	}

	.linha_prod {
		position: absolute;
		border: 1px solid #414140;
		width: 1300px;
		overflow:hidden;
		left: 50%;
		margin-left: -950px;
		bottom: 20px;
	}

	.linha_prod_servico{
		position: absolute;
		border: 1px solid #a6a6a6;
		width: 100%;
		right: 50%;
		overflow:hidden;
		margin-right: -50%;
		top: 30px;
	}

	.servicos p{
		font-size: 1.13rem /* 18/16 */;
		font-weight: 300;
	}

	.servicos .line_servico{
		overflow: hidden;
		height: 21px;
	}


	.servicos .line_servico_des{
		overflow: hidden;
		height: 52px;
	}

	.bg_empresa_home {
		position: absolute;
		background: url(../imgs/bg_empresa_home011.jpg)no-repeat top right;
		height: 44.38rem /* 710/16 */;
		width: 1920px;
		right: 50%;
		overflow: hidden;
		margin-right: -50%;
		top: -10.94rem /* -175/16 */;
		z-index: -1;
	}



	/**
	============================================
	HOME
	============================================
	*/
	/**
	============================================
	EMPRESA
	============================================
	*/

	.endereco_sites{
		background: none;
	}
	.breadcrumb-item+.breadcrumb-item::before {
		color: #fff;

	}

	.endereco_sites .breadcrumb-item a .fa{
		color: #fff;
	}

	.endereco_sites .breadcrumb-item a:hover .fa{
		color: #000;
	}

	.endereco_sites .breadcrumb-item,
	.endereco_sites .breadcrumb-item a{
		color: #fff;
		font-size: .81rem /* 13/16 */;
	}

	.endereco_sites .breadcrumb-item a:hover{
		color: #000;
	}

	.bg_verde{
		background: url(../imgs/linha_verde.png)top center;
		height:58px;
		position: relative;
	}

	.btn_orcamento_empresa{
		color: #fff;
		background: #1a7753;
		width: 100%;
		line-height: 1.8;
	}

	.btn_orcamento_empresa:hover{
		color: #fefefe;
		background: #245026;
	}

	.procura_empresa{
		border: 0;
		padding: 0;
		height: 56px;
		margin-top: 10PX;
	}
	.procura_empresa .input-group{
		height: 35px;
		background: #f2f2f2;
		margin-top: -.19rem;
	}

	.bg_cinza{
		background: #c3c2c2;
	}

	.procura_empresa .input-group input{
		border-right: 0;
		border-top: 0;
		border-bottom: 0;
	}

	.procura_empresa .input-group-btn .btn{
		height: 50px;
		border-radius: 0;
		color: #fff;
		width: 53px;
		background: #c3c2c2;
		cursor: pointer;
		margin-right:-.63rem;
	}

	.procura_empresa .input-group-btn .btn:hover{
		background: #1a7753;
		color: #fff;
	}

	.fundo_empresa{
		background: url(../imgs/fundo_empresa.jpg)top center no-repeat;
		height:78.75rem /* 1276/16 */;
	}


	.barra_site_direito {
		width: 100%;
		height: 3.38rem /* 54/16 */;
		position: absolute;
		margin-right: -50%;
		overflow:hidden;
		z-index: 9;
		top: 0px;
		right: 50%;
		background: #0e714b;
	}


	.barra_site_direito h3{
		font-size: 1.25rem /* 20/16 */;
		font-weight: 700;
		color: #fff;
		text-align: right;
		margin-top: 7px;
		margin-right: 18px;
	}

	.fundo_empresa p{
		color: #121111;
		font-weight: 400;
		font-size: 1.13rem /* 18/16 */;

	}
	/**
	============================================
	EMPRESA
	============================================
	*/


	.barra_site {
		width: 625px;
		height: 3.38rem /* 54/16 */;
		position: absolute;
		margin-left: -962px;
		overflow:hidden;
		z-index: 9;
		top: 0px;
		left: 50%;
		background: #0e714b;
	}


	.barra_site h3{
		font-size: 1.25rem /* 20/16 */;
		font-weight: 700;
		color: #fff;
		text-align: right;
		margin-top: 7px;
		margin-right: 18px;
		text-shadow: none;
	}


	/**
	============================================
	PRODUTOS
	============================================
	*/



	.menu_produtos .card-header{
		background: #0e714b url(../imgs/seta_menu_drown.png)top 23px right 10px no-repeat;
		padding: 1.13rem  2.25rem;
		border-right: 22px solid #62b466;
		border-radius: 0;
	}

	.menu_produtos .card{
		border:  0;
		background: none;
	}

	.menu_produtos .card-body{
		padding: 0;
	}

	.menu_produtos .list-group a{
		background: #e3e3e3 url(../imgs/fundo_menu_icon.png)top left no-repeat;
		border: 0;
		border-top: 4px solid #fefefe;
		border-bottom: 4px solid #fefefe;
		padding: 10px 1.25rem;
		color: #102a11;
		font-size: .88rem /* 14/16 */;
	}

	.menu_produtos .list-group a:hover{
		background: #378b3b url(../imgs/fundo_menu_icon.png)top left no-repeat;
		color: #fff;
	}


	.slider_prod_geral .flexslider {
		margin: 0px;
		margin-top: 1.25rem;
		background: none;
		border: 0;
		z-index: 9;
	}

	.slider_prod_geral .slider-prod li img:hover {
		cursor: -webkit-zoom-in;
	}

	#carousel .flex-active-slide img {
		opacity: 1;
		cursor: default;
	}

	#carousel img {
		display: block;
		opacity: .5;
		cursor: pointer;
	}

	.slider_prod_geral .slider-prod-tumb li img:hover,
	.slider_prod_geral .slider-prod-tumb li .active img{
		opacity: .7;
		border: 1px solid #001d33;
	}

	.slider_prod_geral .flex-control-paging li a {
		width: 20px;
		height: 20px;
		background: #fff;
		opacity: .7;
	}

	.slider_prod_geral .flex-control-nav {
		bottom: -35px;
	}

	.slider_prod_geral .flex-control-paging li a.active {
		opacity: 1}

		.slider-prod-tumb img{
			height: 80px !important;
		}

		.zomm{
			position: absolute;
			background: url(../imgs/zoom3.png)no-repeat;
			width: 142px;
			height: 56px;
			bottom: 0;
			left: 0px;
			z-index: 99;
		}



		.produto_dentro .slider_prod_geral .imagem_default img{
			height: 400px !important;
			width: 100%;
		}

		.telefones_prod h2{
			color: #414140;
			font-size: 1.13rem /* 18/16 */;
			font-weight: 700;
			margin-left: -16px;
		}


		.telefones_prod{
			background: #fafafc;
			-webkit-box-shadow: 3px 3px 25px 6px rgba(0,0,0,0.11);
			-moz-box-shadow: 3px 3px 25px 6px rgba(0,0,0,0.11);
			box-shadow: 3px 3px 25px 6px rgba(0,0,0,0.11);
			z-index: 999;
		}



		/**
		============================================
		PRODUTOS
		============================================
		*/


		/**
		============================================
		SERVICOS
		============================================
		*/

		.servicos_geral p{
			font-size: .88rem /* 14/16 */;
			font-weight: 300;
		}

		.servicos_geral .line_servico {
			overflow: hidden;
			height: 36px;
			background: #61b265;
			position: absolute;
			right: 0px;
			top: 219px;
		}

		.servicos_geral .card{
			border: 0;
		}

		.servicos_geral .card img{
			border-bottom: 24px solid #61b265;
		}

		.servicos_geral .card-body{
			background: #fafafc;
			padding-top: 0;
		}

		.servicos_geral .line_servico_des{
			overflow: hidden;
			height: 46px;
		}

		.servicos_geral .card-body h2{
			color: #fefefe;
		}

		.servicos_geral img:hover{
			opacity: .9;
		}

		.servico_dentro p{
			font-size: 1.06rem /* 17/16 */;
			font-weight: 400;
		}

		.servico_dentro .card{
			border: 0;
		}

		.servico_dentro .card-body{
			background: #fafafc;
			webkit-box-shadow: 3px 3px 25px 6px rgba(0,0,0,0.11);
			-moz-box-shadow: 3px 3px 25px 6px rgba(0,0,0,0.11);
			box-shadow: 3px 3px 25px 6px rgba(0,0,0,0.11);
			z-index: 999;
		}

		.titulo_produto h3 span{
			color: #0e714b;
			font-size: 3.38rem /* 54/16 */;
			text-shadow: 2px 1px 2px rgba(0, 0, 0, 1);
		}
		/**
		============================================
		SERVICOS
		============================================
		*/

		/**
		============================================
		FALE CONOSCO
		============================================
		*/
		.btn_formulario{
			border-radius: 0;
			font-size:17px;
			color: #0e714b;
			border:2px solid #0e714b;
			padding: 15px 25px;
			background: none;
			font-weight: 700;
			cursor: pointer;
		}

		.btn_formulario_orcamento{
			border-radius: 0;
			font-size: 30px;
			color: #fff;
			padding: 15px 30px;
			background: #001d33;
			font-weight: 700;
			cursor: pointer;
		}

		.btn_topo{
			cursor: pointer !important;
			margin-top: -10px;
		}


		.btn_topo_orcamento{
			border-radius: 0;
			font-size: 15px;
			color: #fff;
			padding: 5px 15px;
			background: #002953;
		}

		.btn_formulario:hover,
		.btn_topo_orcamento:hover,
		.btn_formulario_orcamento:hover{
			color: #fff;
			background: #0e714b;
		}

		.fundo-form{
			border: 1px solid #a0a0a0 !important;
			padding: .5rem 2.5rem;
			background: #fff !important;
		}


		.icon_form select {
			appearance: none;
			-webkit-appearance: none;
			-moz-appearance: window;
		}


		.titulo_emp p{
			font-weight: 400;
		}

		.nav-pills .media-body{
			line-height: 1;
		}

		.nav-pills .nav-link{
			color: #0e714b;
			background: none;
			opacity: 1;
			border: 2px solid #0e714b;
			font-size: 20px;
			font-weight: 700;
			border-radius: 0;
		}

		.nav-pills .nav-link span{
			font-size: 1.13rem /* 18/16 */;
			font-weight: 300;
		}

		.nav-pills .nav-link.active,
		.show>.nav-pills .nav-link {
			color: #fff;
			opacity: 1;
			cursor: default;
			background-color: #0e714b;
		}

		.nav-pills .nav-link:hover{
			color: #fff;
			opacity: 1;
			background-color: #0e714b;
		}

		.bg_contatos {
			background: url(../imgs/bg_contatos.png)no-repeat top right;
			height: 30.81rem /* 493/16 */;
			width: 100%;
			position: absolute;
			margin-right: -50%;
			top: 204px;
			right: 50%;
			z-index: -1;
		}
		/**
		============================================
		FALE CONOSCO
		============================================
		*/


		/**
		============================================
		ORCAMENTOS
		============================================
		*/
		.tabela_carrinho thead th{background:#d41f2b;padding:10px 5px;}
		.tabela_carrinho table{font-size:15px;color:#000;font-weight:400; height: 100px;}
		.tabela_carrinho .table>tbody>tr>td,.tabela_carrinho .table>thead>tr>th{font-size: 15px;vertical-align:middle;border-bottom:1px solid #0e714b;padding:10px 5px;}
		.fa-times-circle::before{
			color:#474747;
		}

		.tabela_carrinho h3,.fundo_formulario h3{
			color: #000;
			font-size: 24px;
			font-weight: 700;
			margin-bottom: 20px;
			/*text-shadow:1px 2px 5px #0f0f0f;*/
		}


		.input-lista-prod-orcamentos {
			width: 40px;
			min-height: 36px !important;
			text-align: center;
			background: #5ea062;
			color: #fff;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			font-size: 13px;
		}

		.tabela_carrinho h3 span{
			font-size: 1rem /* 16/16 */;
			color: #252525;
		}

		.desc_geral_produto table{
			width: 100% !important;
		}

		.desc_geral_produto p{
			font-size: 1rem !important /* 16/16 */;
		}

		/**
		============================================
		ORCAMENTOS
		============================================
		*/

		.fa-list:before {
		color: #fff;
}
